$primary-color: #1c75ba;

.btn-primary {
  color: #ffffff;
  background-color: $primary-color;
  border-color: $primary-color;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: lighten($primary-color, 20%);
    border-color: lighten($primary-color, 20%);
  }
}

.select > .btn {
  font-weight: 400;
  border-color: #c5c8d1;
  background: #fff;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 8.5px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 3px;
}
